body {
    background-color: whitesmoke;
    font-family: sans-serif;
}
table {
    border: 2px solid black;
    border-radius: 8px;
    table-layout: auto;
}
th {
    font-size: 150%;
    text-align: left;
    background-color: black;
    color: white;
    padding: 10px;
}
td {
    text-align: left;
    padding: 4px;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    color: darkmagenta;
}
.warning {
    color: white;
    background-color: darkred;
    display: inline;
    padding: 8px;
    border: 2px yellow;
    border-radius: 5px;
}
.delete{
    color:darkred;
}
.update{
    color:darkorange;
}
h2 {
    text-align: center;
}
