<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://xmlns.jcp.org/xml/ns/javaee">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <meta charset="UTF-8" />
    <title>Error</title>
</head>
<body>
<div align="center">
    <img th:src="@{/images/logo.png}" th:style="'height:100px; width:100px;'" />
    <h1>Whoops! You shouldn't be here.</h1>
    <p>Psst. This is a 404 page.
</body>
</html>