<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://xmlns.jcp.org/xml/ns/javaee">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <meta charset="UTF-8" />
    <title>Spring Guestbook</title>
</head>

<div align="center">
<img th:src="@{/images/logo.png}" th:style="'height:100px; width:100px;'" />
<h1>Guestbook Comments</h1>
<form>
    <div class="row">
        <div class="small-5 columns">
            <input type="text" id="txt" name="searchString"><button id="button-id" type="submit">Search Comments</button>
        </div>
    </div>
</form>
    <br />
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Posted on</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.user}"></td>
        <td th:text="${entry.comment}"></td>
        <td th:text="${entry.submitted}"></td>
        <td><a th:href="@{'/update/' + ${entry.id}}" class="update">Update</a>
        <a th:href="@{'/delete/' + ${entry.id}}" class="delete">Delete</a></td>
    </tr>
    </tbody>
</table>
<div th:if="${entries.isEmpty()}">
    <p>There are no comments in the Guestbook. What a pity.</p>
</div>
<!-- Adding a new comment -->
<h2 th:text="${formHeader}"></h2>
    <form th:object="${newEntry}" method="post">
        <label>Name: </label>
        <input type="text" size="30" th:field="*{user}" htmlEscape="true"/>
        <label>Comment: </label>
        <input type="text" size="70" th:field="*{comment}" />
        <input type="hidden" th:value="*{submitted}" />
        <br />
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
        <br />
        <br />
        <p class="warning" th:if="${#fields.hasErrors('user')}">Name has to be longer than 3 characters but no more than 30.</p>
        <p class="warning" th:if="${#fields.hasErrors('comment')}">Comment has to be longer then 2 characters but no more than 144.</p>

    </form>
</div>
</body>
</html>